{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ city.Address_id }} - {{ city.First_Name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ city.First_Name }}</li>
        <li class="list-group-item">{{ city.Last_Name }}</li>
        <li class="list-group-item">{{ city.Street }}</li>
        <li class="list-group-item">{{ city.City }}</li>
        <li class="list-group-item">{{ city.State }}</li>
        <li class="list-group-item">{{ city.Postal_Code }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{city.Address_id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{city.Address_id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}

